@model IEnumerable<PoliceWebApplication.City>

@{
    ViewData["Title"] = "База даних Національної поліції України";
}

<h1><img src="~/css/police.png" width="100" height="100"> База даних Національної поліції України </h1>

<p>
    <a asp-action="Create">Додати нове місто</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Вулиці</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
