@model IEnumerable<PoliceWebApplication.Department>

@{
    ViewData["Title"] = "Відділки за вулицею";
}

<h1><img src="~/css/police.png" width="100" height="100"> Відділки на вулиці  @ViewBag.StreetName </h1>

<p>
    @Html.ActionLink("Додати новий відділок", "Create", new { streetId = @ViewBag.StreetId})
</p>

<p>
    @Html.ActionLink("Назад", "Return", new { streetId = ViewBag.StreetId})
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            @*
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
            *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.House)
            </td>
            @*
        <td>
            @Html.DisplayFor(modelItem => item.Street.Name)
        </td>
            *@
        <td>
            @Html.ActionLink("Змінити", "Edit", new { streetId = @ViewBag.StreetId, deptId = item.Id }) |
            <a asp-action="Details" asp-route-id="@item.Id">Слідчі</a> |
            @Html.ActionLink("Видалити", "Delete", new { streetId = @ViewBag.StreetId, deptId = item.Id})
        </td>
        </tr>
}
    </tbody>
</table>

