@model IEnumerable<PoliceWebApplication.Department>

@{
    ViewData["Title"] = "Відділки за вулицею";
}

<h1>Відділки на вулиці  @ViewBag.StreetName </h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.StreetId">Додати відділок</a>
</p>

<p>
    <a asp-action="Return">Назад</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.House)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

