@model IEnumerable<PoliceWebApplication.Department>

@{
    ViewData["Title"] = "Відділки за вулицею";
}

<h1><img src="~/css/police.png" width="100" height="100"> Відділки на вулиці  @ViewBag.StreetName </h1>

@if (User.IsInRole("admin"))
{
    <a><font color="red">Адміністратор</font></a>
}
else if (User.IsInRole("user"))
{
    <a><font color="blue">Користувач</font></a>
}
<p>@User.Identity.Name</p>

<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Вихід" />
</form>

@if (User.IsInRole("admin"))
{
    <div align="right">
        <p><a class="btn btn-sm btn-outline-primary" asp-controller="Roles" asp-action="UserList">Керування користувачами</a></p>
    </div>
}
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Додати новий відділок", "Create", new { streetId = @ViewBag.StreetId })
    </p>
}
<p>
    @Html.ActionLink("Назад", "Return", new { streetId = ViewBag.StreetId })
</p>

@if (User.IsInRole("admin"))
{
    <div>
        <h5>Оберіть exel-файл для заватаження</h5>
        @using (Html.BeginForm("Import", "Departments", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
        {
            <div>
                Завантажте Excel-файл:
                <input type="file" name="fileExcel" id="fileExcel" />
                <input type="hidden" value="@ViewBag.StreetId" name="streetId" />
                <div>
                    <input type="submit" value="Завантажити" />
                </div>
            </div>
        }
    </div>
    <h1> </h1>
    <div>
         <h5>Завантаження інформації в файл</h5>
        <a asp-action="Export" asp-route-streetId="@ViewBag.StreetId"> Завантажити</a>
    </div>
}

<h1>    </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
            *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.House)
                </td>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.Street.Name)
                    </td>
                *@
                <td>
                    @if (User.IsInRole("admin"))
                    {@Html.ActionLink("Змінити |", "Edit", new { streetId = @ViewBag.StreetId, deptId = item.Id })}

                    <a asp-action="Details" asp-route-id="@item.Id">Слідчі</a>

                    @if (User.IsInRole("admin"))
                    {@Html.ActionLink("| Видалити", "Delete", new { streetId = @ViewBag.StreetId, deptId = item.Id })}
                </td>
            </tr>
        }
    </tbody>
</table>

