@model IEnumerable<PoliceWebApplication.Street>

@{
    ViewData["Title"] = "Вулиці у містах";
}

<h1><img src="~/css/police.png" width="100" height="100"> Вулиці міста @ViewBag.CityName </h1>

@if (User.IsInRole("admin"))
{
    <a><font color="red">Адміністратор</font></a>
}
else if (User.IsInRole("user"))
{
    <a><font color="blue">Користувач</font></a>
}
<p>@User.Identity.Name</p>

<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Вихід" />
</form>

@if (User.IsInRole("admin"))
{
    <div align="right">
        <p><a class="btn btn-sm btn-outline-primary" asp-controller="Roles" asp-action="UserList">Керування користувачами</a></p>
    </div>
}
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Додати нову вулицю", "Create", new { cityId = @ViewBag.CityId })
    </p>
}
<p>
    <a asp-action="Return">Назад</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
            *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.City.Name)
                    </td>
                *@
            <td>
                @if (User.IsInRole("admin"))
                    {@Html.ActionLink("Змінити |", "Edit", new { cityId = @ViewBag.CityId, streetId = item.Id })}

                <a asp-action="Details" asp-route-id="@item.Id">Відділки</a>

                @if (User.IsInRole("admin"))
                    {@Html.ActionLink("| Видалити", "Delete", new { cityId = @ViewBag.CityId, streetId = item.Id })}
            </td>
            </tr>
        }
    </tbody>
</table>
