@model IEnumerable<PoliceWebApplication.Investigator>

@{
    ViewData["Title"] = "Слідчі відділку ";
}

<h1><img src="~/css/police.png" width="100" height="100"> Слідчі відділку за адресою @ViewBag.DeptStreet, @ViewBag.DeptHouse</h1>

<p>
    @Html.ActionLink("Додати нового слідчого", "Create", new { deptId = @ViewBag.DeptId })
</p>

<p>
    @Html.ActionLink("Назад", "Return", new { deptid = ViewBag.DeptId })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characteristic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Characteristic)
                </td>
                <td>
                    @Html.ActionLink("Змінити", "Edit", new { deptId = ViewBag.DeptId, investigatorId = item.Id }) |
                    <a asp-action="Details" asp-route-id="@item.Id">Справи</a> |
                    @Html.ActionLink("Видалити", "Delete", new { deptId = @ViewBag.DeptId, investigatorId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var dept = @ViewBag.DeptId;
            $.get('/api/Charts/InvestigatorCasesJsonData', { deptid: dept }, function (investigatorCasesJsonData) {

                data = google.visualization.arrayToDataTable(investigatorCasesJsonData, false);
                var option = {
                    title: "Співвідношення кількості справ між слідчими:",
                    width: 1000,
                    height: 400
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}
