@model IEnumerable<PoliceWebApplication.CasePerson>

@{
    ViewData["Title"] = "Суб`єкти справи";
}

<h1><img src="~/css/police.png" width="100" height="100"> Суб`єкти справи № @ViewBag.CaseId</h1>

@if (User.IsInRole("admin"))
{
    <a><font color="red">Адміністратор</font></a>
}
else if (User.IsInRole("user"))
{
    <a><font color="blue">Користувач</font></a>
}
<p>@User.Identity.Name</p>

<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Вихід" />
</form>

@if (User.IsInRole("admin"))
{
    <div align="right">
        <p><a class="btn btn-sm btn-outline-primary" asp-controller="Roles" asp-action="UserList">Керування користувачами</a></p>
    </div>
}

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Додати суб`єкт", "Create", new { caseId = ViewBag.CaseId })
    </p>
}
<p>
    @Html.ActionLink("Назад", "Return", new { investigatorId = ViewBag.InvestigatorId, investigatorName = ViewBag.InvestigatorName })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Type.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Type.Name)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
        }
    </tbody>
</table>
