@model PoliceWebApplication.Case

@{
    ViewData["Title"] = "Інформація по справі";
}

<h1><img src="~/css/police.png" width="100" height="100"> Cправа № @ViewBag.CaseId слідчого @ViewBag.InvestigatorName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinished)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin")) {@Html.ActionLink("Змінити |", "Edit", new { investigatorId = ViewBag.InvestigatorId, caseId = ViewBag.CaseId })}
    @Html.ActionLink("Назад", "Index", new { id = ViewBag.InvestigatorId, name = ViewBag.InvestigatorName })
</div>
